<%- include('_partials/head') %>
    <%- include('_partials/navbar') %>
    <div class="container">
        <h1 class='mt-5'>Car Detail</h1>
        <div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="details col-md-6">
						<h3 class="product-title text-capitalize"><%= data.full_name %></h3>
						<p class="product-description text-capitalize"><%=data.phone_number%>.</p>
					</div>
				</div>
                </div>
    </div>
    <%- include('_partials/script') %>